@font-face {
  font-family: "Antonio Font";
  font-style: normal;
  font-weight: 100;
  src: local("Antonio Font"),
    url("./assets/fonts/antonio.light.ttf") format("truetype");
}
@font-face {
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 100;
  src: local("Century Gothic"), url("./assets/fonts/GOTHIC.woff") format("woff");
}
@font-face {
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: bold;
  src: local("Century Gothic"),
    url("./assets/fonts/GOTHICB.woff") format("woff");
}
:root {
  --padding-top-view: 75px;
  --main-color: #d2393e;
  --secondary-color: #707070;
  --tertiary-color: gainsboro;
  --blue-color: #5b72aa;
  --main-font: "Antonio Font", sans-serif;
  --secondary-font: "Century Gothic", sans-serif;
  --shadow-1: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
  --shadow-2: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  --shadow-3: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
}
::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
  border: none;
  outline: none;
}
:focus {
  outline:none;
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
  outline: none;

}
:root::-moz-selection { color: red;outline:none;}
:root:selection { color: red; }
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}

.App .Content {
  padding-top: 100px;
  text-align: center;
}

/*-- FORMULARIOS TRIPLAND ---*/
input {
  font-family: var(--secondary-font);
}

input.rounded {
  border-radius: 100px;
  border: 1.5px solid darkgrey;
  padding: 1em;
}
input.code-confirmation-input {
  font-size: 2em;
  height: 2em;
  width: 5em;
  text-align: center;
  border: solid 1px var(--secondary-color);
  margin-bottom: 0.5em;
}
input:active,
input:focus {
  outline: none;
}

.tp-input-group {
  display: flex;
  flex-direction: column;
  font-family: var(--secondary-font);
  font-weight: bold;
  color: var(--secondary-color);
  text-align: left;
  margin: 8px 0;
}

.tp-input-group label {
  font-size: 0.9em;
  margin-bottom: 4px;
}
.tp-input-group .radio-group {
  display: flex;
  align-items: center;
}

input[type="radio"] {
  -webkit-appearance: none;
  background-color: white;
  border: solid 1px darkgrey;
  border-radius: 50%;
  height: 1.3em;
  position: relative;
  width: 1.3em;
}
input[type="radio"]:checked {
  background-color: var(--secondary-color);
}
input[type="radio"]:checked:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  height: 40%;
  width: 40%;
  border-radius: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
}
span.link {
  color: #1f7eff;
  cursor: pointer;
}

span.error {
  color: red;
  font-size: 0.6em;
  margin-bottom: 0.5em;
  margin-top: 4px;
  margin-left: 8px;
}

a {
  text-decoration: none;
}
